<div class="bgcolor">
  <div class="card-head">
    <h1>Consectetur adipisicing elit</h1>
    <p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
  </div>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inputActionContainer m-t-20">
            <input
              type="text"
              class="form-control fields m-t-10 m-rl-10 p-20 "
              placeholder="Name"
            />
            <input
              type="email"
              class="form-control fields m-t-10 m-rl-10 p-20"
              placeholder="Email"
            />

            <textarea placeholder="Message"
              class="form-control feedback-textarea" rows="6"
            ></textarea>

            <button class="banner-btn m-t-10">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
