.bgcolor{
    background-color: #3cadd4;
    padding: 4em 0em 4em;

}
.card-head{
    h1{
        text-align: center;
        font-size: 3em;
        font-weight: 700;  
        color: #ffffff;  
    };
    p{
        text-align: center;
        color: #ffffff;
        font-size: 1.85em;
        padding: 15px;
    }
   }
   .text-area{
       textarea{
  text-align: center;
       }
     
       
   }