.bgcolor {
  background-color: #3cadd4;
  padding: 4em 0em 4em;
}
.card-head {
  h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
  }
  p {
    text-align: center;
    color: #ffffff;
    font-size: 1.85em;
    padding: 15px;
    margin-bottom: 20px;
  }
}
.banner-btn {
  background-color: #383b43;
  border-radius: 30px;
  padding: 16px 50px;
  color: #ffffff;
  font-size: 22px;
  border: none;
  outline: none;
  margin-top: 13px;
}
.banner-btn:hover {
  background-color: #2c2f35;
}
.fields {
  width: 300px;
  display: inline-block;
}
.inputActionContainer {
  text-align: center;
}
.text-area {
  textarea {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
