<div class="bgcolor">
  <div class="card-head">
    <h1>Consectetur adipisicing elit</h1>
    <p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
  </div>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inputActionContainer m-t-20">
            <input type="text" class="form-control fields m-rl-10 p-20 " placeholder="Name" />
            <input
              type="email"
              class="form-control fields m-rl-10 p-20"
              placeholder="Email"
            />
            <div class="text-area  m-t-30 m-b-10">
              <textarea rows="6" cols="72" name="message" placeholder="Message" ></textarea>
            </div>
            <button class="banner-btn m-t-10">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

