.bgcolor{
    background-color: #F5F5F5;
    padding: 6em 0em 4em;

}
.card-head{
    h1{
        text-align: center;
        font-size: 3em;
        font-weight: 700;  
        color: #474747;  
    };
    p{
        text-align: center;
        color: #858585;
        font-size: 1.85em;
        padding: 15px;
    }
   }
   .generic-bdy{
       text-align: auto;
       p{
       margin-bottom:30px;
       font-size: 17px;
       line-height: 25px;
       color: #858585;
   }
}