<div class="bgcolor">
  <div class="card-head">
    <h1>Consectetur adipisicing elit</h1>
    <p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
  </div>

  <div class="container">
    <div class="row  m-tb-40">
      <ng-container *ngFor="let item of cards">
        <div class="col-md-4">
          <div class="card ">
            <i [className]="item.icon" [style.background-color]="item.iconBgColor"></i>
            <h3>{{item.head}}</h3>
            <p>{{item.para}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>