<nav class="navbar navbar-expand-lg navbar-light nav-default-bg-color" style="height:90px">
  <h1 class="navbar-brand logo-container">
    <a>Transit</a>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto topnav site-nav-links">
        <li class="nav-item" *ngFor= " let item of menus">
          <a class="nav-link" [routerLink]="item" style="text-transform:capitalize">{{item}} </a>
        </li>
        <li class="nav-item">
          <button class="btn-nav" routerLink = "signup">Signup</button>
        </li>
      </ul>
  </div>
</nav>