<div class="bg">
<header >
  <div class="navbar-header ">
    <a class="navbar-brand" href="#">Transit</a>
  </div>
  <nav class="main-navigation">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Elements</a>
      </li>
      <li class="nav-item">
        <button>Sign Up</button>
      </li>
    </ul>
  </nav>
</header>
</div>