.bgcolor{
    padding: 4em 0em 4em;

}
.profile-head{
    h1{
        text-align: center;
        font-size: 3em;
        font-weight: 700;  
        color: #474747;  
    };
    p{
        text-align: center;
        color: #858585;
        font-size: 1.85em;
        padding: 15px;
    }
   }
   hr{
       width: 80%;
   }
   .profile-footer{
    text-align: center;
       p{       
        padding: 0px 18em 0px 18em;
        line-height: 30px;
        font-size: 20px;
        color: #858585;
        margin-bottom: 24px;
       }
   }
   .profile-btn{
    background-color: #3cadd4;
    border-radius: 30px;
    padding: 16px 50px;
    color: #ffffff;
    font-size: 22px;
    border: none;
    outline: none;
    margin-top: 13px;
}
   